@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blur-hover {
  filter: blur(1px);
  border-radius: 5px;
}
.slider {
  display: flex;
  animation: slider 10s linear infinite;
}

@keyframes slider {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}